body {
  margin: 0px;
}
.bottom-container {
  text-align: center;
  background-color: #393e46;
  height: 15.625rem;
}
.bottom-cloud {
  position: absolute;
  bottom: 18.75rem;
  left: 18.75rem;
}
.contact-me {
  text-align: center;
}
.clip-art {
  width: 10%;
}
.clip-art1 {
  width: 25%;
  float: left;
  margin-right: 2rem;
}
.clip-art2 {
  width: 25%;
  float: right;
  margin-left: 2rem;
}
.contact-me {
  padding-top: 1.25rem;
}
.footer {
  color: rgba(202, 202, 202, 0.933);
  font-weight: lighter;
  font-size: 1.25rem;
  margin: 0px;
  width: 15%;
  margin: 1rem auto 1rem;
}
.footer:hover {
    color: #ff5722;
    text-decoration: underline;
}
.footer-1 {
  color: rgba(202, 202, 202, 0.933);
  font-size: 1.25rem;
  padding-top: 1rem ;
  margin-bottom: 1.5rem;
}
.footer-link {
  margin : 10px 10px;
}
h1 {
  margin: 0px;
  text-align: center;
  padding-top: 2.8125rem;
  font-family: Sacramento, cursive;
  font-size: 5.625rem;
  color: #222831;
}
h2 {
  font-family: "Roboto", sans-serif;
  color: #283c63;
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5625rem;
  color: #344cb7;
}
.help {
  font-size: 3.125rem;
  font-weight: lighter;
}
hr {
  border-color: #98bae7;
  border-style: dotted none none;
  border-width: 0.625rem;
  width: 5%;
}
.img {
  width: 2.5rem;
}
.intro {
  display: inline-block;
  width: 40%;
  color: #00a8cc;
  font-weight: lighter;
  line-height: 2;
}
.mail {
  color: #ff5722;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.25rem;
}
.mail:hover {
  text-decoration: underline;
}
.middle-container {
  background-color: #ffffff;
}
p {
  text-align: center;
  color: #222831;
  font-family: "Merriweather", serif;
  font-weight: bolder;
  font-size: 1.375rem;
}
.para {
  width: 75%;
  font-weight: lighter;
  font-size: 1.25rem;
  color: #00a8cc;
  margin: auto;
  text-align: justify;
  margin-right : 0;
}
.paragraph {
  width: 75%;
  font-weight: lighter;
  font-size: 1.25rem;
  color: #00a8cc;
  text-align: justify;
  margin: auto;
  margin-left: 0;
}
.para-1 {
  text-align: center;
  width: 50%;
  font-weight: lighter;
  color: #00a8cc;
  margin: 0;
  margin: auto;
  line-height: 2;
}
.profile {
  text-align: center;
  font-family: "Merriweather", serif;
  margin-top: 5.625rem;
  margin-bottom: 3.125rem;
}
.skill-row {
  line-height: 2;
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}
.skills {
  text-align: center;
}
.skill-1 {
  margin:0;
}
.skill-2 {
  margin:0;
}
.skill-title {
  font-size: 2.5rem;
}
.social-media {
  color: rgba(202, 202, 202, 0.933);
  font-size: 1.25rem;
  margin: 1rem auto;
}
.top-cloud {
  position: absolute;
  right: 18.75rem;
  top: 3.125rem;
}
.top-container {
  background-color: #00adb5;
  text-align: center;
  position: relative;
  padding-top: 6%;
}
